body {
	width:100%;
	margin:0;
	padding:0;
}
ul,li{
	margin:0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration:none; 
}
footer{
	position: relative;
}
.footer{
	background: #dedede;
	padding: 50px;
}
.container{
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
}
.nav{
	display: block;
	background: #dedede;
	height: 58px;
}
.nav ul li{
	display: block;
	float: left;
	padding: 20px;
}
.user-inf{
	float: right;	
	display: block;
	padding: 20px;
}
.user-inf p {
	margin: 0;
}
.form{
	max-width: 640px;
	display: block;
	margin:0 auto;
	padding: 120px 0;
}
.form input{
	margin:20px 0; 
}
.form input[type='text'], .form input[type='email'], .form input[type='password'], .form textarea{
	width: 100%;
}
.form input[type='text'], .form input[type='email'], .form input[type='password']{
	height: 30px;
}
 .form textarea{
 	height: 150px;
 }

