body .preview{
	display: none;
}
body {
	width:100%;
	margin:0;
	padding:0;
}
ul,li{
	margin:0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration:none; 
}
.item{
	border-bottom: 1px solid #e3e3e3;
	padding: 20px 0;
}

.image{
	margin: 20px auto;
}
footer{
	margin-top: 20px;
	position: relative;
}
.footer{
	background: #dedede;
	padding: 50px;
}
.container{
	max-width: 1024px;
	position: relative;
	margin: 0S auto;
}
.nav.clear{
	display: block;
	background: #dedede;
	height: 58px;
	margin-bottom: 20px;
}
.nav ul li{
	display: block;
	float: left;
	padding: 20px;
}
.user-inf{
	float: right;	
	display: block;
	padding: 20px;
}
.form{
	max-width: 640px;
	display: block;
	margin:0 auto;
	padding: 120px 0;
}
.item h4.status{
	color: #ff0000;
}
.item .status span{
	color:#92e730;
}



